body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(181, 181, 181, 0.528);
}

.intro{
    width: 40vw;
    height: 50vh;
    display: flex;
    justify-content: center;
}

.container_info{
    background-color: rgb(255, 213, 0);
    width: 40%;
    border-radius: 10% 0% 0% 10%;
}

.container_content{
    width: 60%;
    background-color: #fff;
    border-radius: 0% 10% 10% 0%;
}

.img_con{
    width: 150px;
    height: 150px;
    margin-left: 50px;
    margin-top: 70px;
}

.title_con{
    margin-top: 40px;
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.button{
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-left: 100px;
    transition: .4s;
}

.img_btn{
    width: 53px;
    height: 45px;
    transition: .4s;
}

.button:hover{
    margin-top: 20px;
    transition: .4s;
}

.img_btn:hover{
    margin-top: 20px;
    transition: .4s;
}

.form_ac{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

table{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}